.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
    background-color: #10c4a7;
    border-radius: 10px;
    text-align: center;

    border-style: solid;
    border-width: 5px;
    border-color: #0c6d73;
    box-shadow: -10px -8px 0px #fda909;
}

.profile-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.animal-box {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.animal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.animal-box h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #3f51b5;
}

.animal-description {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #666;
}

.traits-box {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.traits-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff5722;
}

.traits-box ul {
    list-style-type: none;
    padding: 0;
}

.traits-box li {
    font-size: 1.1rem;
    margin: 5px 0;
    color: #555;
}

.retry-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.retry-button:hover {
    background-color: #303f9f;
}
